<img class="picture" src="/assets/img/burger.jpg" />

<h1>Eat Da burgers!</h1>

<ol>
    <div class="burger-list">
        {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
    </div>
</ol>

<ol>
    <div class="devoured-list">
        {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
        {{/each}}
    </div>
</ol>

<form class="submit-form">
    <div class="submit-area">
        <label for="bg">Burger Name:</label>
        <input type="text" id="bg" name="name">
    </div>

    <button type="submit">Submit</button>
</form>