<div class="burger-list">
	<p>
		
		{{burger_name}}

		<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
			{{#if devoured}}Devoured it!{{else}}Clear Devoured{{/if}}
		</button>
	</p>
</div>