<div class="burger-list">
	<p class="list">
		
		{{burger_name}}

		<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
			{{#if devoured}}Devoured it!{{/if}}
		</button>
	</p>
</div>